[submodule "rv_base"]
	path = rv_base
	url = ../RISCV_ISA_CoreDSL
  branch = xcorev
[submodule "rv_xcorev"]
	path = rv_xcorev
	url = https://github.com/tum-ei-eda/CoreV_ISA_CoreDSL.git
[submodule "rv_xopenasip"]
	path = rv_xopenasip
	url = https://github.com/PhilippvK/OpenASIP_ISA_CoreDSL.git
